<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Demo Web Shop Automation Suite">

<listeners>
    <listener class-name="framework.listeners.AllureTestListener"/>
</listeners>

    <test name="Demo Web Shop Tests">

        <classes>
            <class name="demo_web_shop.RegistrationPageTests"/>
        </classes>

    </test>

</suite>